.student-life {
  text-align: center;
  padding: 20px;
  background-color:lightgray;
}

.student-gallery {
  display: flex;
  justify-content: center; /* Center the gallery horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

.student-card {
  width: 300px;
  padding: 25px;
  text-align: center;
}

.student-card img {
  width: 100%;
  height: 240px;
  margin-bottom: 15px;
  border-radius: 40px;
}

.student {
  padding: 1px;
}

.student img {
  width: 101%;
  height: 480px;
  margin-bottom: 10px;
  border-radius: 40px;
}
