.dbuu-layout {
    display: flex;
    padding: 20px 150px;
    background-color: #f8f8f8;
  }
  
  .left-column {
    width: 60%;
    padding-right: 10px;
  }
  
  .right-column {
    width: 40%;
  }
  
  .section-title {
    font-size: 24px;
    color: #d32f2f;
    margin-bottom: 20px;
    position: relative;
  }
  
  .happening, .placement-highlights, .campus-life {
    margin-bottom: 40px;
  }
  
  .placement-highlights .placement-content, .campus-life .campus-life-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .happening .slide-content{
    background: blueviolet;
    padding: 10px -0px;
    border-radius: 10px;
  }
  .happening{
    height: 400px; /* Adjust the height as needed */
    margin-bottom: 10px;
  }
  .slide-content {
    text-align: center;
    color: #f8f8f8;
    
  }
  
  .slide-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f8f8f8;
  }
  
  .slide-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f96e5b;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .placement-content, .campus-life-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .placement-image {
    width: 70%;
    height: 90%; /* Assuming you want the height to remain the same */
    background-size: cover; /* This will stretch the image to cover the entire container */
    background-position: center; /* This will center the image within the container */
    border-radius: 10px; 
  }
  .campus-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
  
  .campus-life-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .campus-life-item {
    flex: 1;
    min-width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slick-dots li button:before {
    color: white !important;
  }
  